<!DOCTYPE html>
<html>
  <head>
    <title>Tienda de Productos</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
  </head>
  <body>
    <!-- Cabecera -->
    <header><% include header.ejs %></header>

    <!-- Contenido principal -->
    <main id="main">
      <!-- Formulario para crear un nuevo producto -->
      <section id="create-product" class="create-product-section">
        <h2 class="create-product-title">Create New Product</h2>
        <form id="create-product-form" class="create-product-form">
          <input
            type="text"
            name="nombre"
            placeholder="Product Name"
            required
            class="create-product-input"
          />
          <input
            type="number"
            name="precio"
            placeholder="Price"
            required
            class="create-product-input"
          />
          <input
            type="checkbox"
            name="venta"
            id="venta"
            class="create-product-input"
          />
          <label for="venta" class="create-product-label">For Sale</label>
          <input
            type="text"
            name="foto"
            placeholder="Photo URL"
            class="create-product-input"
          />
          <input
            type="text"
            name="tags"
            placeholder="Tags (comma separated)"
            class="create-product-input"
          />
          <button type="submit" class="create-product-button">
            Create Product
          </button>
        </form>
      </section>
    </main>

    <!-- Pie de página -->
    <footer><% include footer.ejs %></footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const createProductForm = document.getElementById(
          "create-product-form"
        );

        createProductForm.addEventListener("submit", function (event) {
          event.preventDefault();

          const formData = new FormData(createProductForm);
          const jsonFormData = Object.fromEntries(formData);

          if (jsonFormData.tags) {
            jsonFormData.tags = jsonFormData.tags.split(",");
          }

          jsonFormData.venta = !!jsonFormData.venta;

          fetch("/api/products", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(jsonFormData),
          })
            .then((response) => response.json())
            .then((data) => {
              console.log("Producto creado:", data);
              // Aquí puedes hacer algo más, como actualizar la lista de productos
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
      });
    </script>
  </body>
</html>
